{#- Documentation issue CTA (replaces default repo badge) -#}
<a
  href="{{ config.repo_url }}"
  title="If you find an issue or something missing in this documentation, please report it here."
  class="md-source"
  data-md-component="source"
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="md-source__icon md-icon">
    {% set icon = config.theme.icon.repo or "fontawesome/brands/git-alt" %}
    {% include ".icons/" ~ icon ~ ".svg" %}
  </div>
  <div class="md-source__repository">
    {{ config.repo_name }}
  </div>
</a>
